<!DOCTYPE HTML>
<html lang="en" ng-app="hmwSite" ng-init="currentPage='home'">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Helmut Wollenberg - Junior Software Developer</title>

		<!-- Stylesheets -->
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
		<link href="css/blueimp-gallery.min.css" rel="stylesheet" type="text/css">
		<link href="css/bootstrap-image-gallery.min.css" rel="stylesheet" type="text/css">
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="app/css/hmw-site.min.css" rel="stylesheet" type="text/css">

		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" type="text/javascript"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" type="text/javascript"></script>
		<![endif]-->
	</head>
	<body ng-controller="NavbarLinksCtrl" class="hmw-document" role="document">
	
		<!-- Fixed Navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container ng-cloak" ng-cloak>
				<div class="navbar-header hmw">
					<button type="button" class="navbar-toggle hmw" data-toggle="collapse" data-target=".hmw-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Helmut Wollenberg</span>
				</div>
				
				<div class="hmw-navbar-collapse collapse pull-right">
					<ul class="nav navbar-nav">
						<li ng-repeat="link in navbarLinks" ng-class="{'active': isLinkActive(link.id)}">
							<a ng-href="{{isLinkActive(link.id) ? '#' : link.url}}" alt="{{link.alt}}">
								<i class="fa fa-lg {{link.icon}}"></i>&nbsp;&nbsp;{{link.name}}
							</a>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
				
			</div>
		</div>
		
		<!-- Main Content -->
		<div class="container" role="main">
			
			<noscript>
				<div class="alert alert-warning">
					<strong>Note: </strong>This site requires Javascript to be enabled.
				</div>
			</noscript>
			
			<div class="well hmw-well">
				<h2 class="hmw-well-header">
					Greetings and Salutations!
				</h2><br />
				<p style="font-size: 150%; margin-bottom: 20px;">
					I am a <strong>software developer</strong> and am very pleased to welcome you to this, my modest web site.
				</p>
				<p style="font-size: 150%; margin-bottom: 20px;">
					Here you can find out more about me, what I have to offer, what my educational background consists of, what experience I have, and ways of getting in touch with me.
				</p>
				<p style="font-size: 150%; margin-bottom: 20px;">
					To get started, please select from one of the links below or in the navigation bar at the top of the page.
				</p>
				
				<p class="hmw-well-separator hmw-nav-list" style="font-size: 150%;">
					<span ng-repeat="link in navbarLinks" ng-if="link.id != 'home'"><a ng-href="{{link.url}}" alt="{{link.alt}}">{{link.longName}}</a> </span>
				</p>
			</div>
			
		</div> <!-- /container -->
		
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<p class="text-center">Copyright &copy; 2014-2016 Helmut Wollenberg</p>
			</div>
		</footer>
		
		<!-- Scripts -->
		<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/jquery.blueimp-gallery.min.js" type="text/javascript"></script>
		<script src="js/bootstrap-image-gallery.min.js" type="text/javascript"></script>
		<script src="angular_components/angular.min.js" type="text/javascript"></script>
		<script src="angular_components/angular-resource.min.js" type="text/javascript"></script>
		<script src="app/js/hmw-site.min.js" type="text/javascript"></script>
		<script src="app/js/services.js" type="text/javascript"></script>
		<script src="app/js/controllers.js" type="text/javascript"></script>
		<script src="app/js/filters.js" type="text/javascript"></script>
		<script src="app/js/directives.js" type="text/javascript"></script>
	</body>
</html>